{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body style="background-color:powderblue; text-align:center;">
    <h1>HANGMAN</h1>

<img src="{% static art %}" alt="My image"><br>
{{word}}
Number of letters in the chosen word:<br> {{blank}}
<br>
<br>
<form action="/hangman/game" style="text-align:center;">
Guess:
    <input type="text" id="guess" name="guess"><br><br>
    <input type="submit" value="Submit">
</form>

<a href="{% url 'home' %}">
<button type="button">Back</button>
</a>

</body>
